<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.cmackay.plugins.googleanalytics"
  version="1.0.4">

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>GoogleAnalytics</name>
  <description>Plugin for Google Analytics Native SDKs (Android, iOS)</description>
  <author>Craig MacKay</author>
  <license>Apache 2.0</license>
  <keywords>cordova,analytics</keywords>
  <repo>https://github.com/cmackay/google-analytics-plugin.git</repo>



  <platform name="ios">
    <js-module src="www/analytics.js" name="GoogleAnalytics">
      <clobbers target="navigator.analytics" />
    </js-module>
    <config-file target="config.xml" parent="/*">
      <feature name="GoogleAnalytics">
        <param name="ios-package" value="GoogleAnalyticsPlugin" />
      </feature>
    </config-file>

    <header-file src="ios/GAI.h" />
    <header-file src="ios/GAIDictionaryBuilder.h" />
    <header-file src="ios/GAIEcommerceFields.h" />
    <header-file src="ios/GAIEcommerceProduct.h" />
    <header-file src="ios/GAIEcommerceProductAction.h" />
    <header-file src="ios/GAIEcommercePromotion.h" />
    <header-file src="ios/GAIFields.h" />
    <header-file src="ios/GAILogger.h" />
    <header-file src="ios/GAITrackedViewController.h" />
    <header-file src="ios/GAITracker.h" />
    <source-file src="ios/libGoogleAnalyticsServices.a" framework="true" />
    <header-file src="ios/GoogleAnalyticsPlugin.h" />
    <source-file src="ios/GoogleAnalyticsPlugin.m" />

    <framework src="SystemConfiguration.framework" />
    <framework src="CoreData.framework" />
    <framework src="libsqlite3.dylib" />
    <framework src="libz.dylib" />
  </platform>

  <platform name="android">
    <js-module src="www/analytics.js" name="GoogleAnalytics">
      <clobbers target="navigator.analytics" />
    </js-module>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GoogleAnalytics">
        <param name="android-package" value="com.cmackay.plugins.googleanalytics.GoogleAnalyticsPlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
      <service android:name="com.google.android.gms.analytics.AnalyticsService" android:enabled="true" android:exported="false" />
      <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
      <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver" android:exported="true">
        <intent-filter>
          <action android:name="com.android.vending.INSTALL_REFERRER" />
        </intent-filter>
      </receiver>
      <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver" android:enabled="true">
        <intent-filter>
          <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
        </intent-filter>
      </receiver>
    </config-file>

    <source-file src="android/GoogleAnalyticsPlugin.java" target-dir="src/com/cmackay/plugins/googleanalytics" />

    <preference name="ANALYTICS_VERSION" default="+"/>

    <framework src="com.google.android.gms:play-services-analytics:$ANALYTICS_VERSION" />

    <proguard-config>
-keep class * extends java.util.ListResourceBundle {
protected Object[][] getContents();
}
-keep public class com.google.android.gms.common.internal.safeparcel.SafeParcelable {
public static final *** NULL;
}
-keepnames @com.google.android.gms.common.annotation.KeepName class *
-keepclassmembernames class * {
@com.google.android.gms.common.annotation.KeepName *;
}
-keepnames class * implements android.os.Parcelable {
public static final ** CREATOR;
}
    </proguard-config>
  </platform>

</plugin>
